<!----- templates/home.html   ----->

{% extends "_base.html" %}

{% load static %}

{% block title %}
    Home
{%  endblock title%}


{% block content %}
<h1>HomePage</h1>
<form action="{% url 'search_results' %}" method="get" class="form-inline mt-2 mt-md-0">
    <input type="text" name="q" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
</form><br><br>
<img class = "bookcover" src=" {% static 'images/cover.jpeg' %} " alt=""><br>
{% if user.is_authenticated %} 
    <p>Hi {{ user.username }}, with email:  {{user.email}}</p>
{% else %}
    <p>You are not logged in</p>



{% endif %}
{% endblock content %}

