<!----- templates/home.html   ----->

{% extends "_base.html" %}

{% load static %}

{% block title %}
    Home
{%  endblock title%}


{% block content %}
<h1>HomePage</h1>
<img class = "bookcover" src=" {% static 'images/cover.jpeg' %} " alt=""><br>
{% if user.is_authenticated %} 
    <p>Hi {{ user.username }}, with email:  {{user.email}}</p>
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a><br>
    <a href="{% url 'signup' %}">sigup</a>


{% endif %}
{% endblock content %}

